In [1]:
import os
import shutil

def combine_folders(source_folder, destination_folder):
    # Ensure the destination folder exists
    if not os.path.exists(destination_folder):
        os.makedirs(destination_folder)
    
    # Loop through all files in the source folder
    for file_name in os.listdir(source_folder):
        source_file = os.path.join(source_folder, file_name)
        destination_file = os.path.join(destination_folder, file_name)

        # Check if a file with the same name exists in the destination folder
        if os.path.isfile(destination_file):
            # If file exists, append a number to the file name to avoid overwriting
            base_name, extension = os.path.splitext(file_name)
            count = 1
            while os.path.exists(destination_file):
                destination_file = os.path.join(destination_folder, f"{base_name}_{count}{extension}")
                count += 1
        
        # Copy the file from the source folder to the destination folder
        shutil.copy2(source_file, destination_file)

# combine_folders("image_dataset\\paper2", "image_dataset\\paper")

In [2]:
import cv2
import pandas as pd
import os

# Initialize DataFrame with columns
df = pd.DataFrame(columns=['np_array', 'label'])

# Loop through folders (labels)
for folder in os.listdir("image_dataset"):
    # Loop through images in each folder
    if folder == "plastic.zip":
        continue
    for image in os.listdir("image_dataset\\" + folder):
        # Read the image as a NumPy array
        np_array_image = cv2.imread("image_dataset\\" + folder + "\\" + image)
        
        # Create a temporary DataFrame for the current image and label
        temp_df = pd.DataFrame([[np_array_image, folder]], columns=['np_array', 'label'])
        
        # Append the temporary DataFrame to the main DataFrame
        df = pd.concat([df, temp_df], ignore_index=True)

# Show the first few rows of the DataFrame
df.head()

                                            np_array    label
0  [[[189, 199, 206], [189, 199, 206], [189, 199,...  battery
1  [[[255, 255, 255], [255, 255, 255], [255, 255,...  battery
2  [[[151, 156, 165], [148, 153, 162], [148, 153,...  battery
3  [[[255, 255, 255], [255, 255, 255], [255, 255,...  battery
4  [[[255, 255, 255], [255, 255, 255], [255, 255,...  battery

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20268 entries, 0 to 20267
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   np_array  20268 non-null  object
 1   label     20268 non-null  object
dtypes: object(2)
memory usage: 316.8+ KB

In [4]:
df.to_csv("dataset.csv")

In [5]:
import pandas as pd
dataset = pd.read_csv("dataset.csv")

In [6]:
dataset.head()

   Unnamed: 0                                           np_array    label
0           0  [[[189 199 206]\n  [189 199 206]\n  [189 199 2...  battery
1           1  [[[255 255 255]\n  [255 255 255]\n  [255 255 2...  battery
2           2  [[[151 156 165]\n  [148 153 162]\n  [148 153 1...  battery
3           3  [[[255 255 255]\n  [255 255 255]\n  [255 255 2...  battery
4           4  [[[255 255 255]\n  [255 255 255]\n  [255 255 2...  battery

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20268 entries, 0 to 20267
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  20268 non-null  int64
 1   np_array    20268 non-null  object
 2   label       20268 non-null  object
dtypes: int64(1), object(2)
memory usage: 475.2+ KB